{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="form-div">
        <form action="/userlog/" method="post">
            {%csrf_token%}
            <h1>Login</h1>
            {% if messages %}
       {% for message in messages%}
        <p style="color:red;">{{message}}</p>
       {% endfor %}
      {% endif %}
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>