<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .orders{
            width: 700px;
            height: 500px;
            /* background-color: green;
            color: white; */
            font-size: 25px;
            margin: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="orders">
    <h2>Purchase History</h2>
    
    {%if orders %}

    <table border="1">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Date</th>
            <th>Invoice</th>
        </tr>

        {% for order in orders %}
        <tr>
            <tr {% if order.status == "Cancelled" %} style="background-color: #ffcccc;" {% endif %}>
            <td>{{order.product.name}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.total_price}}</td>
            <td>{{order.purchased_at|date:"Y-m-d H:i"}}</td>
            <td>{{order.status}}</td>
            <td>
                {% if order.status != "Cancelled" %}
                    <a href="{% url 'cancel_order' order.id %}">
                        <button style="background-color: red; color: white; border: none; padding: 5px 10px;">Cancel</button>
                    </a>
                {% else %}
                    <button disabled style="background-color: gray; color: white; border: none; padding: 5px 10px;">Cancelled</button>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'download_invoice' order.id %}">
                    <button style="background-color: green; color: white; border: none; padding: 5px 10px;">Download Invoice</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No purchase history found</p>
    {% endif %}
</div>
</body>
</html>